.header {
  padding: 5px;
}

.container {
  max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

nav .nav-items {
	display: flex;
	justify-content: space-between;
	height: 100%;
	align-items: center;
}

.nav-items ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-items ul li {
	list-style: none;
	margin-left: 20px;
	font-size: 18px;
	font-weight: 600;
	color: #000;
}

.nav-items ul li a {
	color: #000;
}

.nav-items ul li a:hover {
	color: #749587;
}

.nav-items ul li a.active {
	color: #15925c;
}

.error-page {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 20px;
	height: 60vh;
}

.error-page .error-code {
	font-size: 150px;
	font-weight: 600;
	color: #15925c;
}

.error-page .error-text {
	font-size: 34px;
	font-weight: 600;
	color: #000;
}

.grid-3 {
  grid-template-columns: 4fr 2fr 2fr;  
}

.grid-5 {
  grid-template-columns: 2fr 3fr 4fr 1fr 3fr;  
}

.grid-3, .grid-5 {
  display: grid;
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.grid-3 > span {
  padding: 8px 4px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  text-align: right;
  padding: 1px;
}

.grid-5 > span {
  padding: 8px 4px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  text-align: right;
  padding: 1px;
}

.loader-container,
.loader-container:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-container:before {
  content: '';
  background-color: #a7a3a2;
  opacity: 0.3;
}
.loader {
  animation: loader-spin infinite 1s linear;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 5px solid #bcc8dc;
  border-top-color: #15925c;
}

@keyframes loader-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input {
  font-size: 18px;
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid #a7a3a2;
  
}
input:focus {
  outline-color: #15925c;
  outline-width: 3px;
}

button {
  font-size: 18px;
  padding: 8px 15px;
  margin: 15px 5px;
  border-radius: 5px;
  border-width: 0;
  outline: none;
  background-color: #15925c;
  color: #fff;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}